{% include 'includes/header.html' %}
<div class="tabcontent">
    <h5>Дүүргүүд</h5>
    <div class="container">
        <div class="row">
            {% for district in districts %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="{{ district.image.url }}" alt="{{ district.name }}" loading="lazy">
                            <div class="product__action">
                                <a href="{% url 'district_detail' district_id=district.id %}" class="btn btn__primary btn__rounded">
                                    <i class="icon-arrow-right"></i> <span>Дэлгэрэнгүй</span>
                                </a>
                            </div><!-- /.product-action -->
                        </div><!-- /.product-img -->
                        <div class="product__info">
                            <h4 class="product__title"><a href="{% url 'district_detail' district_id=district.id %}">{{ district.name }}</a></h4>
                            <span class="product__price">{{ district.description }}</span>
                        </div><!-- /.product-content -->
                    </div><!-- /.product-item -->
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
