{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Монгол хаяг">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>
   {% block title %}{% endblock title %}
  </title>
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;800&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://i.icomoon.io/public/48159919ac/IcoMoonApp1/style.css">
  <link rel="stylesheet" href="{% static 'assets/css/libraries.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/cate.css' %}">
{% block stylecss %} {% endblock stylecss %}
</head>

<body>
  <div class="wrapper">
   <!-- /.preloader -->
 <!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    <header class="header header-layout1">
      <div class="header-topbar">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-between">
                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                  <li>
                    <button class="miniPopup-emergency-trigger" type="button">Монгол хаяг</button>
                    <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                      <div class="see__icon">
                        <i class="see-icon"></i>
                      </div>  
                      <a href="appointment.html" class="btn btn__secondary btn__link btn__block">
                        <span>Хаяг байршилийн нэгдсэн сан</span> <i class="icon-arrow-right"></i>
                      </a>
                    </div><!-- /.miniPopup-emergency -->
                  </li>
                  
                </ul><!-- /.contact__list -->
                <div class="d-flex">
                  <ul class="social-icons list-unstyled mb-0 mr-30">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->

                </div>
              </div>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-top -->
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">
            <img src="{% static 'assets/images/logo/last.png' %}" class="logo-dark logo" alt="logo">
           </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item">
                <a href="{% url 'index' %}" class="nav__item-link">Home</a>
              </li>
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Бидний тухай</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="{% url 'about' %}" class="nav__item-link">Манай тухай юу хха</a>
                  </li>
                  <li class="nav__item">
                    <a href="services.html" class="nav__item-link"> болндоо болно</a>
                  </li>
                  <!--
                   <li class="nav__item">
                    <a href="services-single.html" class="nav__item-link">single Services</a>
                  </li> 
                   <li class="nav__item">
                    <a href="pricing.html" class="nav__item-link">Pricing & Plans</a>
                  </li>
                  <li class="nav__item">
                    <a href="{% url 'appointment' %}" class="nav__item-link">Appointments</a>
                  </li>
                  <li class="nav__item">
                    <a href="faqs.html" class="nav__item-link">Help & FAQs</a>
                  </li> 
                  <li class="nav__item">
                    <a href="gallery.html" class="nav__item-link">Our Gallery</a>
                  </li> -->
                </ul>
              </li>
              
              <li class="nav__item">
                <a href="{% url 'aimag' %}" class="nav__item-link">Зөвлөмж</a>
              </li>
          
              <!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
            <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
            <a href="{% url 'login' %}" class="btn btn__primary btn__rounded mr-30">             
              <span>Нэвтрэх</span>
            </a>
          </div>
        <!-- /.navbar-collapse -->
             <!-- /.miniPopup-departments -->
             
          </d>
        </div><!-- /.container -->
      </nav>
      <!-- /.navabr -->
    </header><!-- /.Header -->

    <!-- ============================><! /.Header -->

    <!-- ========================
       page title 
    =========================== -->
    <section class="slider">
      <div class="slick-carousel m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h">
          <div class="bg-img"><img src="{% static 'assets/images/sliders/slide1.jpg' %}" alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                
                  
                  <div class="d-flex flex-wrap align-items-center">
                    
                    </a>
                  </div>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h">
          <div class="bg-img"><img src="{% static 'assets/images/sliders/Ub.jpg' %}" alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                 
                
                  <div class="d-flex flex-wrap align-items-center">
                  
                    </a>
                  </div>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ============================
       Features layout4
    ============================== -->
    <section class="features-layout4 py-0">
      <div class="carousel-container">
        <section id="list-topics1" class="list-topics1">
          <div class="container">
            <div class="list-topics1-content1">
              <ul>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics1-icon">
                      <img src="{% static 'assets/images/erdenee/coylurlag.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Соёл урлаг</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/hudaldaa.png'%}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Худалдаа</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/sportpitness.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Спорт Фитнесс</a></h5>
                    <p>185 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/aylaljuuchlal.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Аялал</a></h5>
                    <p>200 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/ervvl mend.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Эрүүл мэнд</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/bolovsrol.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Боловсрол</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/turiinbaiguulga.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Төрийн алба</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/huuliinbaiguulga.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Хуулийн</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/information.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Мэдээлэл</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/sanhvvgiinbaiguulga.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Бизнесс</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/turiinbusbaaiguulga.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Төрийн бус</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/vildwerlel.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}"></a>Үйлдвэрлэл</h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/vl hudluh.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Үл хөдлөх зууч</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/restaron.png' %}" alt="Icon Image">
                    </div>
                    <h5><a href="{% url 'about' %}">Рестарон</a></h5>
                    <p>120 listings</p>
                  </div>
                </li>
                <li>
                  <div class="single-list-topics1-content1">
                    <div class="single-list-topics-icon">
                      <img src="{% static 'assets/images/erdenee/ahuinvilchilgee.png' %}" alt="Icon Image">
                    </div>
                    <h6><a href="{% url 'about' %}">Ахуйн үйлчилгээ</a></h6>
                    <p>120 listings</p>
                  </div>
                </li>
              </ul>
            </div>
          </div><!--/.container-->
    
        </section><!-- /.slick-carousel -->
      </div><!-- /.carousel-container -->
    </section><!-- /.page-title -->

    <!-- ========================
        Team layout 2
    ========================== -->
    <section class="team-layout2 pb-40">
      <div class="container">
        <div class="row">
          <!-- Member #1 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Mike Dooley</a></h5>
                <p class="member__job">Cardiology Specialist</p>
                <p class="member__desc">Muldoone obtained his undergraduate degree in Biomedical Engineering at Tulane
                  University prior to attending St George's University School of Medicine</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #2 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Richard Muldoone</a></h5>
                <p class="member__job">Cardiology Specialist</p>
                <p class="member__desc">Brian specializes in treating skin, hair, nail, and mucous membrane. He also
                  address cosmetic issues, helping to revitalize the appearance of the skin</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #3 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Maria Andaloro</a></h5>
                <p class="member__job">Pediatrician</p>
                <p class="member__desc">Andaloro graduated from medical school and completed 3 years residency program
                  in pediatrics. She passed rigorous exams by the American Board of Pediatrics.</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Dupree Black</a></h5>
                <p class="member__job">Urologist</p>
                <p class="member__desc">Black diagnose and treat diseases of the urinary tract in both men and women. He
                  also diagnose and treat anything involving the reproductive tract in men.</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #5 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Markus skar</a></h5>
                <p class="member__job">Laboratory</p>
                <p class="member__desc">Skar play a very important role in your health care. People working in the
                  clinical laboratory are responsible for conducting tests that provide crucial information.</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #6 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="{% static 'assets/images/barilaga.png' %}" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="doctors-single-doctor1.html">Kiano Barker</a></h5>
                <p class="member__job">Pathologist </p>
                <p class="member__desc">Barker help care for patients every day by providing their doctors with the
                  information needed to ensure appropriate care. He also valuable resources for other physicians.</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-12 text-center">
            <nav class="pagination-area">
              <ul class="pagination justify-content-center">
                <li><a class="current" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav><!-- .pagination-area -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Team layout 2  -->

    <!-- ========================
      Footer
    ========================== -->
    <footer class="footer">
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="footer-widget-about">
                <img src="assets/images/logo/logo-light.png" alt="logo" class="mb-30">
                <p class="color-gray">Our goal is to deliver quality of care in a courteous, respectful, and
                  compassionate manner. We hope you will allow us to care for you and strive to be the first and best
                  choice for your family healthcare.
                </p>
                <a href="appointment.html" class="btn btn__primary btn__primary-style2 btn__link">
                  <span>Make Appointment</span> <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Departments</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Neurology Clinic</a></li>
                    <li><a href="#">Cardiology Clinic</a></li>
                    <li><a href="#">Pathology Clinic</a></li>
                    <li><a href="#">Laboratory Analysis</a></li>
                    <li><a href="#">Pediatric Clinic</a></li>
                    <li><a href="#">Cardiac Clinic</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Links</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our CLinic</a></li>
                    <li><a href="#">Our Doctors</a></li>
                    <li><a href="#">News & Media</a></li>
                    <li><a href="#">Appointments</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="footer-widget-contact">
                <h6 class="footer-widget__title color-heading">Quick Contacts</h6>
                <ul class="contact-list list-unstyled">
                  <li>If you have any questions or need help, feel free to contact with our team.</li>
                  <li>
                    <a href="tel:01061245741" class="phone__number">
                      <i class="icon-phone"></i> <span>01061245741</span>
                    </a>
                  </li>
                  <li class="color-body">2307 Beverley Rd Brooklyn, New York 11226 United States.</li>
                </ul>
                <div class="d-flex align-items-center">
                  <a href="contact-us.html" class="btn btn__primary btn__link mr-30">
                    <i class="icon-arrow-right"></i> <span>Get Directions</span>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-secondary">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <span class="fz-14">&copy; 2020 DataSoft, All Rights Reserved. With Love by</span>
              <a class="fz-14 color-primary" href="http://themeforest.net/user/7oroof">7oroof.com</a>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <nav>
                <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Cookies</a></li>
                </ul>
              </nav>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-secondary -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
  </div><!-- /.wrapper -->

  <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
</body>

</html>