.logo {
    width: 32%;
}

.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-left>div>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right>div>.ant-tabs-nav .ant-tabs-tab {
    padding: 8px 12px;
    text-align: center;
}

.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-left>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-right>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-right>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin: 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ff741a;
    text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: #0c78bee6;
    pointer-events: none;
}

.ant-tabs-tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.ant-tabs-tab+.ant-tabs-tab {
    margin: 0 0 0 12px;
}

td,
th {
    border: 1px solid #c0c0c0;
    text-align: left;
    padding: 8px;
}

.table-io tr:nth-child(even) {
    background-color: #ebf0ff;
}

.table-service tr:nth-child(odd) {
    background-color: #ebf0ff;
}