<section class="contact-info py-0">
    <div class="container">
        <div class="row row-no-gutter boxes-wrapper">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <img src=".assets/images/uilchilgee.png" class="custom-block-image img-fluid" alt="">

                                <a href="huduu" class="custom-block-icon">
                                    <i class="bi-play-fill"></i>
                                </a>
                            </a>
                        </div>

                        <div class="mt-2">
                            <a href="huduu" class="btn custom-btn">
                              Орж харах
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">
                        <div class="custom-block-top d-flex mb-1">
                            <small class="me-4">
                                <i class="bi-clock-fill custom-icon"></i>
                               
                            </small>

                            <small> <span class="badge"></span></small>
                        </div>

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                              Хаяг байршилаар
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">

                            <p>
                                Elsa
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                <strong>Influencer</strong></p>
                        </div>

                      
                    </div>

                    <div class="d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <img src="images/podcast/12577967_02.jpg" class="custom-block-image img-fluid" alt="">

                                <a href="ahialagch" class="custom-block-icon">
                                    <i class="bi-play-fill"></i>
                                </a>
                            </a>
                        </div>

                        <div class="mt-2">
                            <a href="zahialagch" class="btn custom-btn">
                                Орж харах
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">
                        <div class="custom-block-top d-flex mb-1">
                            <small class="me-4">
                                <i class="bi-clock-fill custom-icon"></i>
                                
                            </small>

                            <small> <span class="badge"></span></small>
                        </div>

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Үйлчилгээний чиглэлээр
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg" class="profile-block-image img-fluid" alt="">

                            <p>William
                                <strong>Vlogger</strong></p>
                        </div>

                       
                    </div>

                    <div class="d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </section>