<header class="header header-layout1">
    <div class="header-topbar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
              <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                <li>
                  <button class="miniPopup-emergency-trigger" type="button">Цахим сан</button>
                  <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                    <div class="emergency__icon">
                      <i class="icon-call3"></i>
                    </div>
                  
                  </div><!-- /.miniPopup-emergency -->
                </li>
                <li>
                  <i class="icon-phone"></i><a href="tel:+5565454117">Холбоо барих: 90094575</a>
                </li>
                <li>
                  <i class="icon-location"></i><a href="#">Location: Ulaanbaatar(Mongolia)</a>
                </li>
                <li>
                  <i class="icon-clock"></i><a href="contact-us.html"></a>
                </li>
              </ul><!-- /.contact__list -->
              <div class="d-flex">
                <ul class="social-icons list-unstyled mb-0 mr-30">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
                <form class="header-topbar__search">
                  <input type="text" class="form-control" placeholder="Search...">
                  <button class="header-topbar__search-btn"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
   <!-- /.header-top -->
   <nav class="navbar navbar-expand-lg sticky-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="..assets/images/logo/111.png" class="logo-dark logo" alt="logo">
      </a>
      <button class="navbar-toggler" type="button">
        <span class="menu-lines"><span></span></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav__item has-dropdown">
            <li class="nav__item">
              <a href="{% url 'index' %}" class="nav__item-link">Нүүр</a>
            </li><!-- /.dropdown-menu -->
          </li><!-- /.nav-item -->
          <li class="nav__item has-dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link active">Бидний тухай</a>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="{% url 'about' %}" class="nav__item-link">About Us</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="services.html" class="nav__item-link">Our Services</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="services-single.html" class="nav__item-link">single Services</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="pricing.html" class="nav__item-link">Pricing & Plans</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="appointment.html" class="nav__item-link">Appointments</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="faqs.html" class="nav__item-link">Help & FAQs</a>
              </li> <!-- /.nav-item -->
              <li class="nav__item">
                <a href="gallery.html" class="nav__item-link">Our Gallery</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item -->
        <!-- /.nav-item -->
       <!-- /.nav-item -->
       <!-- /.nav-item -->
       <li class="nav__item">
        <a href="{% url 'aimag' %}" class="nav__item-link">Зөвлөмж</a>
      </li><!-- /.nav-item -->
        </ul><!-- /.navbar-nav -->
        <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
      </div><!-- /.navbar-collapse -->
      <div class="d-none d-xl-flex align-items-center position-relative ml-30">
        <div class="miniPopup-departments-trigger">
          <span class="menu-lines" id="call3-icon"><span></span></span>
          <a href="{% url 'contact'%}">Холбоо барих</a>
        </div>
        <ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Neurology Clinic</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Cardiology Clinic</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Pathology Clinic</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Laboratory Clinic</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Pediatric Clinic</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="department-single.html" class="nav__item-link">Cardiac Clinic</a>
          </li><!-- /.nav-item -->
        </ul> 
        <!-- /.miniPopup-departments --> <!-- col.// -->
        </div>
        </a>
      </div> <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">
            {% if user.id is not None %}
            <div class="widget-header">
                <small class="title text-muted">Welcome {{user.username | capfirst}}</small>
                <div> 
                    <img style="border-radius: 50%;" src="{{user.account.pro_image.url}}" height="30" width="30">
                    <a href="{% url 'logout' %}"> Logout</a>
                </div>
            </div>
            {% else %}
            <div class="widget-header">
                <small class="title text-muted">Welcome guest!</small>
                <div> 
                    <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                    <a href="{% url 'register' %}"> Register</a>
                </div>
            </div>
            {% endif %}
            <a href="./cart.html" class="widget-header pl-3 ml-3">
                <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                <span class="badge badge-pill badge-danger notify">0</span>
            </a>
        </div> <!-- widgets-wrap.// -->
    </div>
    </div><!-- /.container -->
  </nav>
    <!-- /.navabr -->
  </header>
  